<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.meitu.example.arch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.meitu.example.viewmodel.Main1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.meitu.example.lifecycle.Main2Activity">
        </activity>
        <activity android:name="com.meitu.example.lifecycle.Main1Activity">
        </activity>
        <activity android:name="com.meitu.example.lifecycle.Main3Activity">
        </activity>
        <activity android:name="com.meitu.example.lifecycle.Main4Activity">
        </activity>
        <activity android:name="com.meitu.example.lifecycle.Main5Activity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name="com.meitu.example.livedata.Main1Activity"/>
        <activity android:name="com.meitu.example.livedata.Main3Activity">
        </activity>
        <activity android:name="com.meitu.example.livedata.Main2Activity">
        </activity>
    </application>

</manifest>